.card{
    width: 65%;
    margin: 0 auto;
    border: 1px solid gray;
}

.hori_border{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.top_border{
    border-top: 1px solid gainsboro;
}
.bottom_border{
    border-bottom: 1px solid gainsboro;
}