.register {
    .center-e{
        margin: 0 auto;
        width: 80%;
    }
    .left{
        text-align: left;
    }
    .full-width {
      width: 100%;
    }
    .margintop {
      margin-top: 20px;
    }
    .margintop-input {
      margin-top: 10px;
    }
    .fillet-boder {
      border: 1px solid #cccccc;
      border-radius: 5px;
    }
    .tips {
      font-size: small;
    }
    .text-center{
        text-align: center;
    }
}
  