<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/class"></ion-back-button>
    </ion-buttons>
    <ion-title>创建班课</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-thumbnail style="width: 100px; height: 100px;margin: auto;">
      <ion-img src="/assets/img/course_photo.jpg"></ion-img>
    </ion-thumbnail>
    <!-- <br /> -->
    <!-- <ion-text>班课封面</ion-text> -->
  </ion-list>

  <br />

  <ion-list class="ion-padding">
    <ion-item
      lines="none"
      class="hori_border"
    >
      <ion-label>课程</ion-label>
      <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.courseName"></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      class="bottom_border"
    >
      <ion-label>班级</ion-label>
      <ion-input class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.className"></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      class="bottom_border"
    >
      <ion-label>学期</ion-label>
      <ion-select class="input_text" placeholder="未设置" [(ngModel)]="classInfo.semester">
        <ion-select-option *ngFor="let item of semesters">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item
      lines="none"
      class="bottom_border"
    >
      <ion-label>学校</ion-label>
      <ion-input disabled="true" class="input_text" slot="end" placeholder="未设置" [(ngModel)]="classInfo.school"></ion-input>
    </ion-item>
    <ion-item
      lines="none"
      class="bottom_border"
    >
      <ion-label>院系</ion-label>
      <ion-select required placeholder="请选择学院" name="college" [(ngModel)]="college" class="long-select input_text">
        <ion-select-option *ngFor="let item of colleges" value="{{item.id}}"> {{item.label}} </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <br />
  <ion-button
    expand="block"
    style="width: 80%; margin: auto;"
    (click)="create()"
  >
    创建
  </ion-button>
</ion-content>
