.hori_border{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}
.top_border{
    border-top: 1px solid gainsboro;
}
.bottom_border{
    border-bottom: 1px solid gainsboro;
}
.input_text{
    text-align: right;
    color: gray;
}
.label{
    background-color: gray;
}