<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/mine"></ion-back-button>
    </ion-buttons>
    <ion-title>关于我们</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="dark">
    <h2 style="text-align: center;">关于云早到</h2>
    <p class="ion-padding">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      本应用为福州大学数学与计算机科学学院2019级计算机技术研究生的工程实践课程作业，
      是高效线上课堂签到管理的解决方案。
    </p>
    <p class="ion-padding">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      参与设计开发的成员如下：
    </p>
    <p style="text-align: center;">
      魏冬春<br />王灿杰<br />陈甘霖<br />林建洲<br />林树凯
    </p>
  </ion-text>
</ion-content>