<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/class/detail/members"></ion-back-button>
    </ion-buttons>
    <ion-title>参与签到</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <ion-button style="width: 80%;" (click)="signin()">开始签到</ion-button>
  </div>
  <ion-list>
    <ion-list-header>
      <ion-label>历史签到记录</ion-label>
      <!-- <ion-text></ion-text> -->
    </ion-list-header>
    <ion-item *ngFor="let item of historyList">
      <ion-label>
        <h2>{{item.day}} 签到</h2>
        <p>{{item.time}}</p>
      </ion-label>
      <ion-text slot="end">{{item.isSignined?'已签到':'未签到'}}</ion-text>
    </ion-item>
  </ion-list>
</ion-content>
